# URL base de la API del Backend de FastAPI
# Para desarrollo local (default): http://localhost:8050/api
# Para producción (ej. Render): https://tu-backend.onrender.com/api
VITE_API_URL=http://localhost:8050/api
